.error_container{
    height: 100vh;
}
.error_img{
    max-width: 20%;
    margin: 0 auto;
    height: auto;
}
.error_header{
    font-size: 20px;
    font-weight: 600;
    margin: 10px auto;
}
.error_message{
    margin: 0 auto 2em auto;
}
.error_btn{
    margin: 3em auto;
    font-weight: 700;
    text-transform: uppercase;
    padding: .625rem 1.5rem;
    font-size: .875rem;
    line-height: 1.1;
    border-radius: 3.125rem; 
    border:1pt solid #1e1e2d;
    text-decoration: none; 
} 