/* .option{
    background-color: white;
} */
.selcet{
    background-color: white;
    border: 1px solid #b5b5b5;
    color: #272727;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 5px;
    margin: 0 auto;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 14px ;
}
 .dropdown {
    position: absolute;
    font-size: 14px ;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #b5b5b5;
    cursor: pointer;
    border-radius: 5px;
 }
 .dropdown button {
    padding: 0.5px 5px;
    margin: 0;
    background: none;
    border: none;
    color: #272727;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
 }
 @media (max-width: 768px) {
    .dropdown {
        margin: 10px auto;
     }
  }
.checkboxOptions {
    position: absolute;
    margin: 1.9em 0;
    bottom: 1;
    padding: 0.5em;
    background-color: white;
    border: 1px solid #b5b5b5;
    flex-direction: column;
    cursor: pointer;
 }
 .options{
    text-align: left;
 }
.option_label{
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}

.option_input {
   position: absolute;
   opacity: 0;
 }
 
 .custom_checkbox {
   display: inline-block;
   width: 15px;
   height: 15px;
   background-color: #ffffff;
   border: 1px solid #b5b5b5;
   border-radius: 3px;
   cursor: pointer;
   position: relative;
   margin-right: 10px;
 }
 
 .custom_checkbox::after {
   content: '';
   position: absolute;
   display: none;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
 }
 
 .option_input:checked + .custom_checkbox::after {
   display: block;
   content: '\2713'; 
   font-size: 14px;
   color: #1e1e1e; 
   /* top: 1px;
   left: 4px; */
 }